
/*.project img {
  width: 520px;
  height: 860px;
}*/
/*nav area*/
.logo-small img{
  height: 50px;
}
/*nav Area*/

/*residential Area*/
.residential-container {
  padding-top: 50px;
  padding-bottom: 50px;
  /*height: 340px;*/
}

/*residential Area*/

/*Commercial Area*/
.commercial-container{
  padding-top:8.375em;
  padding-bottom: 50px;
  height: 340px;
}
/*Commercial Area*/

/*scuba Area*/
.scuba-container{
  padding-top: 50px;
  padding-bottom: 50px;
  height: 340px;
}

.container-scuba{
margin-left: 0px;
margin-right:0px:
}

/*scuba Area*/

.intro-container{
  padding-top: 50px;
  padding-bottom: 50px;
  height: 340px;
}


.bottom_container {
  /*background: linear-gradient(141deg, #ff5665, #3477ff, #0054ff);*/
  background: linear-gradient(140deg, #111010, #ce7575, #f22020);
  animation: fadeBackground 10s ease infinite;
  background-size: 600%;
}
.parralax-text{
position: relative;
z-index: 2;
/*top: 200px;*/
}


/*scuba Area*/
.section-contact-us{
margin-bottom: 40px;
/*padding-top: 140px*/
padding-top:8.375em;
background: linear-gradient(141deg, #ff5665, #3477ff, #0054ff);
height: 100%;
background-color: #3023ae;
background-size: 200% 200%;
animation: fadeBackground 30s ease infinite;
}

background-wrapper {
    background: linear-gradient(141deg, #ff5665, #3477ff, #0054ff);
    height: 100%;
    background-color: #3023ae;
    background-size: 200% 200%;
    animation: fadeBackground 30s ease infinite;
}
/*scuba Area*/

@keyframes fadeBackground {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 83% 90%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.test  {
z-index: 2
}

.test p {
  color: blue;
}

.white h1,
.white h2,
.white h3,
.white h4,
.white h5,
.white p {
  color: 	#FFFFFF;
}

/* carosel area */
.container_carousel {
  width: 100%;
  height:500px;
  /*width:00vw*/
  padding-right: 0px;
  padding-left: 0px;
}

.row_corousel {
  height:900px;
}
.container_nav {
  padding-left: 15px;
}
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  position:absolute;
  bottom: 400px;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 100vh;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
}

.map2 {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  height: 570px;
  overflow: hidden;
  display: block;
}

.title-area{
  padding-top:4.375em;
}
